{% extends "base.html" %}
{% block content %}
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>


    <h1>{{ current_user.username }}</h1>

    {% for line in games %}

         <t2>game {{ line[4] }} statics</t2>
    <ul>
        <li>total games {{line[2][1]}}</li>
        <li>win rate {{line[0]}}</li>

    </ul>

<canvas id="myChart{{ line[4] }}" style="width:100%;max-width:300px"></canvas>



<script>





var dates = {{line[1]|safe}};
var number_of_games = {{line[2]|safe}};
var number_of_wins= {{line[3]|safe}};

new Chart("myChart{{ line[4] }}", {
  type: "line",
  data: {
    labels: dates,
    datasets: [{
        label: 'number of games',
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "red",
      data: number_of_games,
      name: 'games',
      legendText:'number of games',
      showInLegend: true

    },
        {
            label: 'number of wins',
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "green",
      data: number_of_wins,
      name:'wins',
      legendText:'number of wins',
      showInLegend: true
    }
    ]
  },
  options: {


    scales: {
      yAxes: [{ticks: {min: 0, max:100}}],
    }
  }
});
</script>
    {% endfor %}
{% endblock content %}