
{% extends "base.html" %}
{% block title %}game4{%endblock%}

{%block content%}



<div class="score-board">
  <t1>Hello {{ current_user.username }}</t1>
    <div id="score" value="{{ g_number }}">Game number: {{ g_number }}</div></p>
    <div id="wins" value="{{ wins }}">Number of right answers  of total 10 games is:  {{ wins }}</div>
    </div>
    <div class="panel">
        <div id="result">

        </div>
        <div class="question-container" id="question">
<figure>
    <figcaption>What the missing word that missing in the phrase:</figcaption>
    <t1>{{ question0 }}</t1>
</br>
    <audio
        controls
        src="/game12/{{name}}/{{question1}}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>

</div>
<div class="option-container">
    <form action = "/game12Submit/['{{name}}',{{ g_number }},{{ wins }}]"   class="col-md-8 col-sm-12" method="POST">
        <p>The missing word:<input id="answer" name="option" type="text"></p>
        <input type="submit" class="btn btn-primary" name="option" id="radop4"   autocomplete="off" checked>
    
<div>
    <input type="hidden" id="ans" name="answer" value="{{ t_answer }}">
    <input type="hidden" id="uid" name="uid" value="{{ current_user.id }}">
    <input type="hidden" id="storyname" name="storyname" value="{{ name }}">
</div>
    </form>


</div>
    </div>



{%endblock  %}
