
{% extends "base.html" %}
{% block title %}game4{%endblock%}

{%block content%}


   <t1>Hello {{ current_user.username }}  </t1>
    <div class="panel">
        <div class="result">

        </div>
        <div class="question-container" id="question">
<figure>
    <figcaption>What the missing word that missing in the phrase:</figcaption>
    <t1>{{ question0 }}</t1>
</br>
    <audio
        controls
        src="/game10/{{name}}/{{question1}}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>
</div>
<form action="/game10Submit/" id="formgame10" class="col-md-8 col-sm-12" method="POST">
    <ul>
<div class="d-grid gap-2 col-md-8 col-sm-12" data-toggle="buttons" >
</br>
    <li> <label class="btn btn-info" id="op1">
        <input type="submit" class="btn btn-primary" name="option" id="radop1"  value="1" autocomplete="off"  checked>
    </label></li>
</br>  
    <li><label class="btn btn-info" id="op2">
        <input type="submit" class="btn btn-primary" name="option"  id="radop2"  value="2" autocomplete="off" checked>
    </label></li>
</br>
    <li><label class="btn btn-info" id="op3" >
        <input type="submit" class="btn btn-primary" name="option"  id="radop3" value="3" autocomplete="off" checked>
    </label></li>
</br>
    <li><label class="btn btn-info" id="op4" >
        <input type="submit" class="btn btn-primary" name="option" id="radop4"  value="4" autocomplete="off" checked>
    </label></li>
</br>
    <input type="hidden" id="ans" name="answer" value="{{ t_answer }}">
    <input type="hidden" id="uid" name="uid" value="{{ current_user.id }}">
    <input type="hidden" id="storyname" name="storyname" value="{{ name }}">
</div>
</ul>
</form>


</div>
</form>

<script >

function changetext(){
answers= [{ text: "{{ t_answer }}", isCorrect: true },
        { text: "{{fake_answer_0}}", isCorrect: false },
        { text: "{{fake_answer_1}}", isCorrect: false },
        { text: "{{fake_answer_2}}", isCorrect: false }
    ]
// Getting the result display section
var result = document.getElementsByClassName("result");
result[0].innerText = "";

// Getting the question
const question = document.getElementById("question");
//The Fisher-Yates algorith
const array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
const shuffledArray = answers.sort((a, b) => 0.5 - Math.random());

    const Questions = [{
    id: 0,
    q: "What is {{question}}",
    a: answers

}]

// Setting the question text

// Getting the options
 op1 = document.getElementById('radop1');
 op2 = document.getElementById('radop2');
 op3 = document.getElementById('radop3');
 op4 = document.getElementById('radop4');




// Providing option text
op1.textContent = Questions[0].a[0].text;
op1.value = Questions[0].a[0].text;
op1.name = Questions[0].a[0].text;
op2.innerText = Questions[0].a[1].text;
op2.value = Questions[0].a[1].text;
op3.innerText = Questions[0].a[2].text;
op3.value = Questions[0].a[2].text;
op4.innerText = Questions[0].a[3].text;
op4.value = Questions[0].a[3].text;


}

changetext()


</script>  

{%endblock  %}
