{% extends "base.html" %}
{% block title %}game2{%endblock%}
{%block style%}
html, body {
    direction:rtl;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:cornflowerblue;
}

#canvas-game {
    margin: 0 auto;
    text-align: left;
    width: 1608px;
    margin-top: 20px;
    border: Solid 1px #ebe5e5;
    height: 600px;
    position: relative;
}

#game-statistic {
    margin: 0 auto;
    text-align: left;
    width: 612px;
    margin-top: 20px;
}


#statistic-left, #statistic-right {
    font-style: italic;
    font-size: 40px;
    float: left;
}

#statistic-right {
    float: right;
}

.bold-text {
    font-weight: bold;
    font-size: 40px;
}

.clear {
    clear: both;
}

.box-picture {
    float: left;
    width: 400px;
    height: 300px;
    border: solid 1px #ebe5e5;
}

    .box-picture > img {
        width: 400px;
        height: 300px;
    }

.box-cover-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.box-cover {
    width: 400px;
    height: 300px;
    background: url(game-images/backimg.png) no-repeat;
    border: solid 1px #ebe5e5;
    float: left;
    cursor: pointer;
}

#game-message {
    margin: 0 auto;
    font-size: 40px;
    background: #f7f5b5;
    padding: 15px;
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 612px;
    display: none;
}

#btnRestart, #btnExit {
    padding: 15px;
    font-weight: bold;
    text-align: center;
    background: #043255;
    margin-top: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/**** IF SCREEN SIZE IS NO LARGER THAN 640px ****/
@media (max-width: 640px) {
    #canvas-game {
        width: 385px;
        height: 348px;
    }

    .box-picture, .box-picture > img, .box-cover {
        width: 75px;
        height: 56px;
    }

    .box-cover {
        background: url(game-images/image-cover-75.jpg) no-repeat;
    }

    #game-statistic {
        margin-top: 20px;
    }

    #game-message, #game-statistic {
        width: 385px;
    }
}

/**** IF SCREEN SIZE IS NO LARGER THAN 320px ****/
@media (max-width: 320px) {
    #canvas-game {
        width: 156px;
        height: 390px;
    }

    .box-picture, .box-picture > img, .box-cover {
        width: 50px;
        height: 38px;
    }

    .box-cover {
        background: url(game-images/image-cover-50.jpg) no-repeat;
    }

    #game-statistic {
        margin-top: 20px;
    }

    #game-message, #game-statistic {
        width: 156px;
    }

    #statistic-left, #statistic-right {
        float: none;
    }

    .h1 {
        font-weight: bolder;
        font-size: 40px;
    }

}


{%endblock%}
{% block content %}
<style>	
html, body {
    direction:rtl;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:cornflowerblue;
}

#canvas-game {
    margin: 0 auto;
    text-align: left;
    width: 1608px;
    margin-top: 20px;
    border: Solid 1px #ebe5e5;
    height: 600px;
    position: relative;
}

#game-statistic {
    margin: 0 auto;
    text-align: left;
    width: 612px;
    margin-top: 20px;
}


#statistic-left, #statistic-right {
    font-style: italic;
    font-size: 40px;
    float: left;
}

#statistic-right {
    float: right;
}

.bold-text {
    font-weight: bold;
    font-size: 40px;
}

.clear {
    clear: both;
}

.box-picture {
    float: left;
    width: 400px;
    height: 300px;
    border: solid 1px #ebe5e5;
}

    .box-picture > img {
        width: 400px;
        height: 300px;
    }

.box-cover-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.box-cover {
    width: 400px;
    height: 300px;
    background: url(game-images/backimg.png) no-repeat;
    border: solid 1px #ebe5e5;
    float: left;
    cursor: pointer;
}

#game-message {
    margin: 0 auto;
    font-size: 40px;
    background: #f7f5b5;
    padding: 15px;
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 612px;
    display: none;
}

#btnRestart, #btnExit {
    padding: 15px;
    font-weight: bold;
    text-align: center;
    background: #043255;
    margin-top: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/**** IF SCREEN SIZE IS NO LARGER THAN 640px ****/
@media (max-width: 640px) {
    #canvas-game {
        width: 385px;
        height: 348px;
    }

    .box-picture, .box-picture > img, .box-cover {
        width: 75px;
        height: 56px;
    }

    .box-cover {
        background: url(game-images/image-cover-75.jpg) no-repeat;
    }

    #game-statistic {
        margin-top: 20px;
    }

    #game-message, #game-statistic {
        width: 385px;
    }
}

/**** IF SCREEN SIZE IS NO LARGER THAN 320px ****/
@media (max-width: 320px) {
    #canvas-game {
        width: 156px;
        height: 390px;
    }

    .box-picture, .box-picture > img, .box-cover {
        width: 50px;
        height: 38px;
    }

    .box-cover {
        background: url(game-images/image-cover-50.jpg) no-repeat;
    }

    #game-statistic {
        margin-top: 20px;
    }

    #game-message, #game-statistic {
        width: 156px;
    }

    #statistic-left, #statistic-right {
        float: none;
    }

    .h1 {
        font-weight: bolder;
        font-size: 40px;
    }

}




</style>
<h1>{{line}}</h1>

    <h1>משחק הזיכרון</h1>
    <div id="canvas-game">
        <div id="game-content"></div>
    </div>
    <div id="game-statistic">
        <div id="statistic-left">מספר קליקים :<span id="no-of-clicks" class="bold-text">0</span></div>
        <div id="statistic-right">מספר ניחושים : <span id="correct-guess" class="bold-text">0</span></div>
        <div class="clear"></div>
    </div>
    <div id="game-message">
        <div class="congrats-message">כל הכבוד!!! סיימת בהצלחה</div>
        <button id="btnRestart" type="button">שחק שוב</button>
        <button id="btnExit" type="button">חזור למסך הראשי</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        var noOfBoxGame = 8;
        var boxIndexes = [];
        var noOfClick = 0;
        var clickCounter = 0;
        var correctGuess = 0;
        var clickImages = [];
        var timeOutRestore = 1000;

        //page load
        $(function () {
            bytutorialHTML5Game.renderGameLayout();
            $("#btnRestart").on("click", function () {
                bytutorialHTML5Game.renderGameLayout();
            });
        });


        document.getElementById('btnExit').onclick = function () {
            window.location.href = "index.html";
        }

        bytutorialHTML5Game = {
            initData: function () {
                var j = -1;
                for (var x = 0; x <= (noOfBoxGame / 2) -1; x++) {
                    var k = Math.floor(Math.random() * 52);
                    while (j == k)
                        k = Math.floor(Math.random() * 52);
                    j = k;
                    for (var i = 0; i <= 1; i++) {
                        boxIndexes.push(k);
                    }
                }
                this.shuffleArray(boxIndexes);
            },

            shuffleArray: function (array) {
                for (var i = array.length - 1; i > 0; i--) {
                    var j = Math.floor(Math.random() * (i + 1));
                    var temp = array[i];
                    array[i] = array[j];
                    array[j] = temp;
                }
            },

            buildGameBox: function () {
                var boxes = "";
                var k=1;
                var boxCover = "";
                for (var i = 1; i <= noOfBoxGame; i++) {
					//TODO change src folder to general image folder

                   k = Math.round(Math.random() * 18);
                    boxes += "<div id='box-" + i + "' class='box-picture'><img src='./game-images/" + (parseInt(boxIndexes[i - 1]) + 1) + ".jpg'/></div>";
                    boxCover += "<div id='box-cover-" + i + "' class='box-cover' data-id='" + (parseInt(boxIndexes[i - 1]) + 1) + "'></div>";
                }
                boxCover = "<div class='box-cover-wrapper'>" + boxCover + "</div>";
                $("#game-content").html(boxes + boxCover);

                $(".box-cover").off("click");
                $(".box-cover").on("click", function () {
                    if (noOfClick <= 1) {
                        clickCounter++;
                        $("#no-of-clicks").html(clickCounter);

                        noOfClick++;
                        $(this).addClass('animated flipOutX');

                        var clickCover = {
                            ImageID: $(this).attr("data-id"),
                            CoverID: $(this).attr("id").replace("box-cover-", "")
                        }

                        clickImages.push(clickCover);
                        if (noOfClick >= 2) {
                            //check if the revealed images are correct
                            if (clickImages[0].ImageID == clickImages[1].ImageID && clickImages[0].CoverID !== clickImages[1].CoverID) {
                                correctGuess++;
                                $("#correct-guess").html(correctGuess);
                                //reset
                                noOfClick = 0;
                                clickImages = [];

                                if (correctGuess >= (noOfBoxGame / 2)) {
                                    $("#canvas-game, #game-statistic").fadeOut(1000);
                                    $("#game-message").addClass('animated bounceInDown').css('animation-delay', '1s').show();
                                    correctGuess = 0;
                                    $("#correct-guess").html(correctGuess);
                                    clickCounter = 0;
                                    $("#no-of-clicks").html(clickCounter);
                                }
                            } else {
                                //if not the same then close the image cover again.
                                setTimeout(function () {
                                    clickImages.forEach(function (item, index) {
                                        $("#box-cover-" + item.CoverID).removeClass("flipOutX").addClass('animated flipInX');
                                    });
                                    //reset
                                    noOfClick = 0;
                                    clickImages = [];
                                }, timeOutRestore);
                            }


                        }
                    }
                });
            },

            renderGameLayout: function () {
                $("#game-message").hide();
                $("#canvas-game, #game-statistic").show();
                boxIndexes = [];
                this.initData();
                this.buildGameBox();
            }
        }
    </script>



{%endblock  %}