{% extends "base.html" %}
{% block title %}Index{%endblock%}
{% block content %}
{% for line in content %}
<br>
<div class="container-fluid">
<div class="card col-md-12 col-sm-12">
<div class="row">
    <td><div class="card col-md-4 col-sm-12" >
  <img class="card-img-top" src="\static\logoPSDtransferd.png" alt="image">
  <div class="card-body">
    <h5 class="card-title">{{line}}</h5>
    <p class="card-text">read the story.</p>
     <form action="/index/{{line}}" method="post">
         <button class="btn btn-warning" name="{{line}}" type="submit">Read the story {{line}}</button>
     </form>
     </div>
     </div>

 

		<div class=" card col-md-8 col-sm-12"	>

            <div class=" col-md-4">   
     <form action="/game1/{{line}}" method="get">
         <button class="btn btn-outline-primary " name="{{line}}game 1 new" type="submit">Game 1</button>
		 
     </form>
	
     <form action="/game2/{{line}}" method="get">
         <button class="btn btn-outline-primary" name="{{line}}game 2 new" type="submit">Game 2</button>
		 
     </form>
	
     <form action="/game3/{{line}}" method="get">
         <button class="btn btn-outline-primary" name="{{line}}game 3 new" type="submit">Game 3</button>
         </form>
         
     <form action="/game4/{{line}}" method="get">
         <button class="btn btn-outline-primary" name="{{line}}game 4 new" type="submit">Game 4</button>
		 
	 </form>
    </div> 
    <div class="col-md-4">   
     <form action="/game5/{{line}}" method="get">
         <button class="btn btn-outline-primary" name="{{line}}game 5 new" type="submit">Game 5</button>

	 </form>

    <form action="/game6/{{line}}" method="get">
         <button class="btn btn-outline-primary" name="{{line}}game 6 new" type="submit">Game 6</button>

	 </form>

      <form action="/game7/{{line}}" method="get">
         <button class="btn btn-outline-primary" name="{{line}}game 7 new" type="submit">Game 7</button>

	 </form>
	 
	       <form action="/game8/{{line}}" method="get">
         <button class="btn btn-outline-primary" name="{{line}}game 8 new" type="submit">Game 8</button>

	 </form>
    </div> 
     <div class="col-md-4">   
	      <form action="/game9/{{line}}" method="get">
         <button class="btn btn-outline-primary" name="{{line}}game 9 new" type="submit">Game 9</button>

	 </form>
	 
	    <form action="/game10/{{line}}" method="get">
         <button class="btn btn-outline-primary" name="{{line}}game 10 new" type="submit">Game 10</button>

	 </form>
	 
	     <form action="/game11/{{line}}" method="get">
         <button class="btn btn-outline-primary" name="{{line}}game 11 new" type="submit">Game 11</button>

	 </form>
          <form action="/game12/{{line}}" method="get">
         <button class="btn btn-outline-primary" name="{{line}}game 12 new" type="submit">Game 12</button>

	 </form>
    </div> 
    </div>
    </div>
</div>
</div>
    
     


{% endfor %}
{%endblock  %}
